  <%= image_tag @post.photo_url %>
  <h2><%= link_to @post.title, @post.url %></h2>
  <h6>Created at: <%= @post.created_at.strftime("%A %B %d, %Y") %></h6>
  <h6>Updated at: <%= @post.updated_at.strftime("%A %B %d, %Y") %></h6>
  <%= textilize(@post.description) %>
