
<% @set.photos.reverse.each do |photo| %>

  <%= image_tag photo.large.url %>
  <h2><%= link_to photo.title, photo.url %></h2>
  <h6><%= photo.posted_at.strftime("%A %B %d, %Y") %></h6>
  <%= textilize(photo.description) %>

  <%= link_to pluralize(photo.comment_count, 'comment'), photo.url + '#DiscussPhoto' %>
  <hr/>

<% end %>